<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> ALBA EM#</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.gif') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('default.css') }}">

    
    <!--<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>-->
    <script  type="text/javascript" src="{{ static_url('jslibs/jquery-3.1.1.js') }}"></script>     
    <script type="text/javascript" src="{{ static_url('jslibs/DataControl.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('jqplot/jquery.jqplot.css') }}"/>
    <style type="text/css">
  </style>    
</head>

<body>
    <table  border=1 frame=hsides rules=rows bordercolor="#222225"><caption>&nbsp;</caption>
    <tbody>
        <tr>
            <th style="background-color: #222225;"></th>
            <th style="background-color: #222225; "></th>
            <th class="table_cell_title" colspan="2">&nbsp Channel 1 &nbsp</th>
            <th style="background-color: #222225; "></th>
            <th class="table_cell_title" colspan="2">&nbsp Channel 2 &nbsp</th>
            <th style="background-color: #222225; "></th>
            <th class="table_cell_title" colspan="2">&nbsp Channel 3 &nbsp</th>
            <th style="background-color: #222225; "></th>
            <th class="table_cell_title" colspan="2">&nbsp Channel 4 &nbsp</th>
        </tr>
        <tr>
            <th class="table_cell_title2"><b>&nbspFilter&nbsp</b></th>
            <th style="background-color: #222225;"></th>
            <td class="table_cell_setvalue" id="chn1cafilter"></td>
            <td><select class="inputTextCh" id="chn1_cafilter"></select></td>
            <td style="background-color: #222225;"></td>
            <td class="table_cell_setvalue" id="chn2cafilter"></td>
            <td><select class="inputTextCh" id="chn2_cafilter"></select></td>            
            <td style="background-color: #222225;"></td>
            <td class="table_cell_setvalue" id="chn3cafilter"></td>
            <td><select class="inputTextCh" id="chn3_cafilter"></select></td>            
            <td style="background-color: #222225;"></td>
            <td class="table_cell_setvalue" id="chn4cafilter"></td>
            <td><select class="inputTextCh" id="chn4_cafilter"></select></td>               
        </tr>        
        <tr>
            <th class="table_cell_title2"><i>&nbsp&nbsp&nbspPreFilter&nbsp</i></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1caPrefilter"></td>
            <td><select class="inputTextCh" id="chn1_caPrefilter"></select></td>
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn2caPrefilter"></td>
            <td><select class="inputTextCh" id="chn2_caPrefilter"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn3caPrefilter"></td>
            <td><select class="inputTextCh" id="chn3_caPrefilter"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn4caPrefilter"></td>
            <td><select class="inputTextCh" id="chn4_caPrefilter"></select></td>               
        </tr>
        <tr>
            <th class="table_cell_title2"><i>&nbsp&nbsp&nbspPostFilter</i></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1caPostfilter"></td>
            <td><select class="inputTextCh" id="chn1_caPostfilter"></select></td>
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn2caPostfilter"></td>
            <td><select class="inputTextCh" id="chn2_caPostfilter"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn3caPostfilter"></td>
            <td><select class="inputTextCh" id="chn3_caPostfilter"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn4caPostfilter"></td>
            <td><select class="inputTextCh" id="chn4_caPostfilter"></select></td>               
        </tr>
        <tr>
            <th class="table_cell_title2"><b>&nbspRange&nbsp</b></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1carange"></td>
            <td><select class="inputTextCh" id="chn1_carange"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn2carange"></td>
            <td><select class="inputTextCh" id="chn2_carange"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn3carange"></td>
            <td><select class="inputTextCh" id="chn3_carange"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn4carange"></td>
            <td><select class="inputTextCh" id="chn4_carange"></select></td>
        </tr>
        <tr>
            <th class="table_cell_title2"><i>&nbsp&nbsp&nbspTiGain&nbsp</i></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1catigain"></td>
            <td><select class="inputTextCh" id="chn1_catigain"></select></td>
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn2catigain"></td>
            <td><select class="inputTextCh" id="chn2_catigain"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn3catigain"></td>
            <td><select class="inputTextCh" id="chn3_catigain"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn4catigain"></td>
            <td><select class="inputTextCh" id="chn4_catigain"></select></td>               
        </tr>
        <tr>
            <th class="table_cell_title2"><i>&nbsp&nbsp&nbspVGain</i></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1cavgain"></td>
            <td><select class="inputTextCh" id="chn1_cavgain"></select></td>
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn2cavgain"></td>
            <td><select class="inputTextCh" id="chn2_cavgain"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn3cavgain"></td>
            <td><select class="inputTextCh" id="chn3_cavgain"></select></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn4cavgain"></td>
            <td><select class="inputTextCh" id="chn4_cavgain"></select></td>               
        </tr>
        <tr>
            <th class="table_cell_title2"><b>&nbspSat.Max.(%)&nbsp</b></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1satmax"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn1_satmax" id="chn1_satmax" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn2satmax"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn2_satmax" id="chn2_satmax" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn3satmax"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn3_satmax" id="chn3_satmax" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn4satmax"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn4_satmax" id="chn4_satmax" ></td>
        </tr>        
        <tr>
            <th class="table_cell_title2"><b>&nbspSat.Min.(%)&nbsp</b></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1satmin"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn1_satmin" id="chn1_satmin" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn2satmin"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn2_satmin" id="chn2_satmin" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn3satmin"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn3_satmin" id="chn3_satmin" ></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn4satmin"></td>
            <td><input type="number" step="0.01" min="0" max="100" class="inputTextCell" name="chn4_satmin" id="chn4_satmin" ></td>
        </tr>        
        <tr>
            <th class="table_cell_title2"><b>&nbspInversion&nbsp</b></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1cainv"></td>
            <td><select class="inputTextCh" id="chn1_cainv"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn2cainv"></td>
            <td><select class="inputTextCh" id="chn2_cainv"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn3cainv"></td>
            <td><select class="inputTextCh" id="chn3_cainv"></select></td>
            <td style="background-color: #222225; width:10px"></td>
            <td class="table_cell_setvalue" id="chn4cainv"></td>
            <td><select class="inputTextCh" id="chn4_cainv"></select></td>
        </tr>
        <tr>
            <th class="table_cell_title2"><b>&nbspOffset</b></th>
            <th style="background-color: #222225; "></th>
            <td class="table_cell_setvalue" id="chn1offset"></td>
            <td><input type="number" min="0" max="4095" class="inputTextCell" name="chn1_offset" id="chn1_offset" ></td>
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn2offset"></td>
            <td><input type="number" min="0" max="4095" class="inputTextCell" name="chn2_offset" id="chn2_offset" ></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn3offset"></td>
            <td><input type="number" min="0" max="4095" class="inputTextCell" name="chn3_offset" id="chn3_offset" ></td>            
            <td style="background-color: #222225; "></td>
            <td class="table_cell_setvalue" id="chn4offset"></td>
            <td><input type="number" min="0" max="4095" class="inputTextCell" name="chn4_offset" id="chn4_offset" ></td>               
        </tr>                
    </tbody>
    </table>
    <div><spam class="alertmsg" id="alertmsg1"></spam><spam class="alertmsg" id="alertmsg2"></spam></div>
    
    <table  border=1 frame=hsides rules=rows bordercolor="#222225"><caption>&nbsp;</caption>
    <tbody>
        <tr>
            <th class="table_cell_title" colspan="5">&nbspTrigger&nbsp</th>
        </tr>
        <tr>
            <th class="table_cell_title4" colspan="2" width="50%">&nbspMode </th>
            <th class="table_cell_title4" >&nbspDelay </th>
            <th class="table_cell_title4" >&nbspInput </th>
            <th class="table_cell_title4" >&nbspPolarity </th>
        </tr>
        <tr>             
            <td><button type="button" class="myButtonPurple" id="swtrigButton">Trigger Acq.</button></td>                            
            <td><select class="inputText"  id = "trigMode"></select></td>
            <td><input type="number" min="0" class="inputText" name="trigDelay" id="trigDelay"></td>
            <td><select class="inputText"  id ="trigInput"></select></td>
            <td><select class="inputText"  id ="trigPol"></select></td>
        </tr>
        <tr> 
            <td class="table_cell_value"></td>
            <td class="table_cell_value" id="acq_trig_mode"></td>
            <td class="table_cell_value" id="acq_trig_delay" ></td>
            <td class="table_cell_value" id="acq_trig_input" ></td>
            <td class="table_cell_value" id="acq_trig_pol" ></td>
        </tr>
    </tbody>
    </table>
    <table  border=1 frame=hsides rules=rows bordercolor="#222225"><caption>&nbsp;</caption>
    <tbody>
        <tr>
            <th class="table_cell_title" colspan="4">&nbspAcquisition&nbsp</th>
        </tr>
        <tr>
            <th class="table_cell_title4" >&nbspRange (All Ch) </th>
            <th class="table_cell_title4" >&nbspFilter (All Ch)</th>
            <th class="table_cell_title4" >&nbspTime </th>
            <th class="table_cell_title4" >&nbspTriggers </th>
            <th class="table_cell_title4" width="25%">&nbspState </th>
        </tr>            
        <tr>
            <td><select class="inputText" id="acqRange"></select></td>
            <td><select class="inputText" id="acqFilter"></select></td>
            <td><input type="number" min="1" class="inputText" name="acqTime" id="acqTime" ></td>
            <td><input type="number" min="0" class="inputText" name="acqNTriggers" id="acqNTriggers" ></td>
            <td>
                <button type="button" class="myButtonGreen" id="acqStartButton">Start Acquisition</button>
                <button type="button" class="myButtonPurple" id="acqStopButton">Stop Acquisition</button>
            </td>
        </tr>
        <tr>
            <td class="table_cell_value" id="acq_range" width="25%" ></td>
            <td class="table_cell_value" id="acq_filter" ></td>
            <td class="table_cell_value" id="acq_time" ></td>
            <td class="table_cell_value" id="acq_ntriggers" ></td>
            <td class="table_cell_value" id="acq_state"></td>
        </tr>
    </tbody>
    </table>
    <br>
    <button onclick="window.close()" type="button" class="myButtonOrange">Close</button>    
    <p class="Message" id="Message"></p>    
</body>
</html>
