<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title> ALBA EM#</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.gif') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('default.css') }}">

    <!--<script  type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>-->
    <script  type="text/javascript" src="{{ static_url('jslibs/jquery-3.1.1.js') }}"></script>    
    
    <link rel="stylesheet" type="text/css" hrf="{{ static_url('jqplot/jquery.jqplot.min.css') }}"/>
    <script type="text/javascript" src="{{ static_url('jqplot/jquery.jqplot.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.canvasTextRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.canvasAxisTickRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.categoryAxisRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.dateAxisRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.canvasAxisLabelRenderer.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.barRenderer.min.js') }}"></script>    
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.pointLabels.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.highlighter.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jqplot/plugins/jqplot.cursor.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('jslibs/FileSaver.js') }}"></script>    
    <script type="text/javascript" src="{{ static_url('jslibs/DataMain.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ static_url('jqplot/jquery.jqplot.css') }}"/>
</head>

<body>
    <h1>
    <img src="{{ static_url('images/ComputingLogo.gif') }}" alt="Computing" align="right" height="67" width="150"/>
    <a id="portal-logo" title="Español" accesskey="1" href="http://www.cells.es/es">    
    <img src="{{ static_url('images/ALBALogo.gif') }}" alt="Site" title="ALBA" align="right" height="93" width="171"/></a>    
    <i><div class="img-wrapper"><img src="{{ static_url('images/official_logo.gif') }}" alt="Site" title="ALBA" align="left" height="120" width="295"/></div></a>&nbsp</i>
    </h1>
    <div class="info"><a href="index.html">MAIN PAGE</a></div>
    <p></p>
    <h1>HTTP Error: Page Not Found</h1>
    
    <div class="info" id="contact"><a class="info" href="http://www.cells.es/es">ALBA Synchrotron</a> - By Computing Div. <a class="info"  href="mailto:controls@cells.es">controls@cells.es</a></div>

</body>
</html>
