<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Em#</title>
    <link rel="shortcut icon" href="{{ static_url('images/favicon.gif') }}">
    <link rel="stylesheet" type="text/css" href="{{ static_url('default.css') }}">
    <script  type="text/javascript" src="{{ static_url('jslibs/jquery-3.1.1.js') }} "></script>         
    
    <script type="text/javascript" src="{{ static_url('jslibs/DataFPGA.js') }}"></script>    
</head>

<body>
    <p></p>
    <h1>
        <div class="img-wrapper"><img src="{{ static_url('images/official_logo.gif') }}" alt="Site" title="ALBA" align="left" height="106" width="288" style="vertical-align: middle;"/></div>
        <div class="img-wrapper-right" >
            <a id="portal-logo" title="Español" accesskey="1" href="http://www.cells.es/es">    
                <img src="{{ static_url('images/logo.gif') }}" alt="Site" title="ALBA" align="right" height="125" width="228" style="vertical-align: botom;"/></a>    
        </div>
    </h1>
    
    <div class="topmenu">
    <span id="time" ></span>
    &nbsp
    &nbsp
    <a href="usermanual.html" title="User Manual" style="text-align: right;font-size: 1.6vh;"><img src="static/images/question.png" height="25" width="25" style="background-color: white;"/></a>
    &nbsp
    <a href="index.html" title="Go to Main Page" style="text-align: right; font-size: 1.6vh;"><img src="static/images/home.gif" height="25" width="25" style="background-color: white;"/></a>
    </div> 
    
    <p class="info" style="font-size: 22px;padding: 10px 12px;text-align: left">FPGA Data</p>    
    <div id="data"></div>    
    <div align="center"><table class="fpga_table" id="content" style="background-color: white"> </table></div>
</body>
</html>